body{
  background: black;
  text-align: center;
  font-family: "Verdana";
  font-weight: normal;
  color: white;
}

 p a{
  color: aquamarine;
  font-size: 16px;
}

p{
  color: grey;
  font-size: 21px;
}

.c{
  color: grey;
  text-align: right;
  font-size: 21 px;
}
